/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic Styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

nav {
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Hero Section Styles */
header {
    background-color: #ff5a5f; /* Replace with your desired background color */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.hero-content {
    color: #fff;
}

.hero-content h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.5em;
    margin-bottom: 30px;
}

.cta-btn {
    background-image: url('/home/josemaria/Pictures/89787.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}


.cta-btn:hover {
    background-color: #ff3338;
}

/* Other Section Styles */
section {
    padding: 80px 0;
}

h2 {
    margin-bottom: 30px;
}

/* Add more styles as needed */
